include ../slider/slider
include ../panel/panel

mixin slider-block(options)
  - const { minValue, maxValue, firstValue, isSecondValueVisible, secondValue, step, isVertical, isBubbleVisible } = options
  .slider-block.js-slider-block(
    data-minValue= minValue,
    data-maxValue= maxValue,
    data-firstValue= firstValue,
    data-isSecondValueVisible= isSecondValueVisible,
    data-secondValue= secondValue,
    data-step= step,
    data-isVertical= isVertical,
    data-isBubbleVisible= isBubbleVisible
  )
    .slider-block__slider
      +slider()
    .slider-block__panel
      +panel()
