mixin slider-block(options)
  .slider-block.js-slider-block(
    data-minValueScale= options.minValueScale,
    data-maxValueScale= options.maxValueScale,
    data-firstValue= options.firstValue,
    data-showSecondValue= options.showSecondValue,
    data-secondValue= options.secondValue,
    data-step= options.step,
    data-verticalScale= options.verticalScale,
    data-showBubble= options.showBubble
  )

    
